 @import "../utils/variables";
 
 .fa-heart { 
    font-size: 20px;
    color: $gray;
     }
.fa-heart.fa-solid {
        @include linearGradient;
        opacity: 0;
        transition: all .8s ease-in-out;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
&:hover{
        cursor: pointer;
        opacity: 1;
           }
}
.underline {
    width: 40px;
    border-bottom: 4px solid $green;
    border-top:none;
    display: block;
}
 button {
    padding: 15px 20px;
    margin: 30px 0 20px 0;
    color: $white;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    @include linearGradient;
    @include button;
}

    
 