

$white: white;
$black: #000000;
$purple: #9356DC; 
$grey: #f5f2f2;
$pink: #FF79DA;
$lightgrey: #d3d3d33d; 
$beige: #C6C6C6;
$green: #99e2d0;
$darkgreen: #27816b;
$dark: #353535;
$gray: gray;
$lightpurple: #9356DC2E;


$width1: 1250px;
$width2: 800px;
