@import "../utils/mixin.scss";

h1 {
    font-family: Shrikhand, cursive;
    Font-size: 50px;
    position: relative;
    @include box-shadow;
}
.h1__pages {
    box-shadow: none;
    margin: auto;
}
   
nav {
    display: flex;
    align-items: center;
    margin-top: 15px;
    & i {
        margin-left: 40px;
        font-size: 20px
    }
}