@import "../utils/variables.scss";
@import "../Composants/Composants.scss";
@import "../utils/animation.scss";

.main__menu {
    border-radius: 40px 40px 0 0;
    background-color: $grey;
    position: relative;
    bottom: 35px;
    margin: 0 40px -35px 40px;
    padding-bottom: 25px;
    & > div { 
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding:40px 25px 35px 25px;
          }
          & i {
            position: absolute;
            top: 45px;
            right: 30px; 
          }
& .section__menu {
    display: flex;
    justify-content: space-around;
}
 & h2 {
    font-family: Shrikhand;
    }
  & h3 {
    text-align: left;
    font-weight: inherit;
}

& .menu {
    display: flex;
    margin: 25px 0;
    flex-direction: column;
    gap: 20px;
    width: 31%;}

& .menu__detail {
    display: flex;
    justify-content: space-between;
    background: $white;
    text-align: left;
    border-radius: 15px;
    overflow: hidden;
    @include box-shadow;
    animation: loader_menu 1s 2s both;
}
& .menu__detail__text {
    padding: 20px 0 20px 15px;
    width: 70%;
}

& .prix {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: auto;
    padding: 18px 10px 0 10px;
    font-weight: bold;
  }
  @media (max-width: 768px) {
     & { 
          margin: 0 0 -36px 0;
      }
    .section__menu {
          flex-direction: column;
          padding: 0 25px;
          margin:0;
          } 
    .menu {
        width: 100%;
    }
} 
}      

@include anim-delay (9);