@import "../utils/variables";
* { 
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: roboto, sans-serif;
    text-align: center;
}
a {
color: initial;
}
input:focus {
    outline:  none;
}
